<!-- <div class="row">
  <div
    class="col-lg-5"
  >
    <ngx-monaco-editor
      class="raw-baar-data-editor"
      [options]="monacoEditorOptions"
      [(ngModel)]="data"
      [style]="{ 'height': '90vh' }"
    ></ngx-monaco-editor>
  </div>
  <div
    class="col-lg-7"
    [style]="{'max-height': '120vh', 'overflow-y': 'scroll'}"
  >
  <ngx-monaco-editor
  class="raw-baar-data-editor"
  [options]="monacoEditorOptions"
  [(ngModel)]="data"
  [style]="{ 'height': '120vh' }"
></ngx-monaco-editor>
  </div>
</div> -->
