<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Utils</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            @for (util of utils; track $index) {
            <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
              <div class="card" (click)="navigateToUtilUrl($index)">
                <div class="card-body">
                  <i
                    class="{{ util.iconClasses }}"
                    [style]="{ 'font-size': '2rem' }"
                  ></i>
                  <br />
                  <br />
                  <h6 class="card-subtitle">{{ util.title }}</h6>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
